:root {
    --color-primary: #ff801a;
    --color-text: #2c293e;
    --color-text-ligth: #5d5b5a;
    --color-bg: #fff9f4;
    --color-fg: #fff;
    --border-radius: 24px;
    --max-content-width: 1000px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background: var(--color-bg);
    margin: 0;
}

input:focus {
    outline: none;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin: 0;
}

p {
    margin: 0;
}

/* Links */
a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
}

.list {
    display: none;
}

.list a {
    color: var(--color-text);
}

.logo {
    height: 32px;
}

@media screen and (min-width: 700px) {
    .list {
        display: flex;
        flex-direction: row;
        gap: 2.4rem;
    }
}

/* Buttons */
.btn {
    border-radius: var(--border-radius);
    border: none;
    padding: 0 2.4rem;
}

.btn--lg {
    height: 4rem;
    font-size: 1.4rem;
}

.btn--primary {
    background: var(--color-text);
    color: white;
}

.btn--secondary {
    background: transparent;
    color: var(--color-text);
    border: 1px solid var(--color-text);
}

/* Layout */

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 3rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.grid--2x1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.h1 {
    text-align: center;
    font-size: 5rem;
}

.h2 {
    text-align: center;
    font-size: 4rem;
}

.h3 {
    font-size: 2.4rem;
}

.h4 {
    font-size: 1.6rem;
    font-weight: normal;
}

.p2 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-text-ligth);
}

.p1 {
    font-size: 1.6rem;
    color: var(--color-text-ligth);
}

@media screen and (min-width: 720px) {
    .grid--2x1 {
        grid-template-columns: 1fr 1fr;
    }
}

/* Intro Section */
.intro-section {
    margin-top: 5rem;
    max-width: var(--max-content-width);
    padding: 0 3rem;
}

.intro-section .p2 {
    margin-top: 2rem;
}

.intro-section .btns {
    margin-top: 6rem;
}

@media screen and (min-width: 720px) {
    .intro-section {
        padding: 0 5rem;
    }
}

/* Solutions Section */
.solutions-section {
    margin-top: 5rem;
    max-width: var(--max-content-width);
}

.solutions-section ul {
    margin-top: 5rem;
}

.card {
    background-color: var(--color-fg);
    border-radius: var(--border-radius);
    padding: 3rem;
}

.card .p1 {
    margin-top: 2rem;
}

.card .link {
    margin-top: 3rem;
    color: var(--color-primary);
}

/*powered-by-section */
.powered-by-section {
    background-color: var(--color-text);
    color: white;
    padding: 2rem;
    width: 100%;
    margin-top: 5rem;
}

.powered-by-section .h3 {
    font-size: 1.4rem;
}

.powered-by-section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    margin-top: 2rem;
}

.powered-by-section img {
    height: 44px;
}

/* Why Choose Us */
.whyus-section {
    margin-top: 5rem;
}

.whyus-section .sub-heading {
    margin-top: 2rem;
}

.whyus-section .grid--2x1 {
    margin-top: 5rem;
    gap: 3rem;
}

.whyus-card .h3 {
    text-align: center;
    margin-top: 2.4rem;
}

.whyus-card .p1 {
    text-align: center;
    margin-top: 2.4rem;
}

.whyus-card .emoji-icon {
    font-size: 5rem;
}

/* Contact Section */

.contact-section {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    margin-top: 5rem;
    background-color: white;
    width: 100%;
    padding: 3rem;
    border-radius: 12px;
}

.form-field {
    margin-top: 2rem;
    width: 100%;
}

.form-field input {
    border: none;
    border-bottom: 1px solid var(--color-text);
    padding: 5px 0;
    width: 100%;
}

.form-field label {
    font-size: 1.6rem;
}

.contact-form .submit-btn {
    margin-top: 3rem;
}

@media screen and (min-width: 720px) {
    .form-container {
        width: 60%;
    }

    .form-field input {
        width: 70%;
    }
}

/* Footer */
.footer {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    max-width: var(--max-content-width);
    gap: 2rem;
}

.branding img {
    height: 42px;
}

.footer-section li {
    margin-top: 2rem;
}

.footer-section a {
    font-size: 1.4rem;
    color: var(--color-text-ligth);
}

.branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
}

.branding p {
    text-align: center;
    font-size: 1.4rem;
}

@media screen and (min-width: 720px) {
    .footer {
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }
}
